* {
	font-family: 'Amatic SC', cursive;
	font-weight: 400;
	color: #6a6a56;
	text-align: center;
	/*border: 1px solid red !important;*/
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

@media (min-width: 64em) {

	h1 {
		font-size: 5em;
		font-weight: 700; 
	}
	h2 {
	 	font-size: 3em; 
	 	font-weight: 700;
	 	color: #A7A7A7;
	}
	h3 {
		font-size: 2em; 
		font-weight: 400;	
	}
	h4 {
		font-size: 1.5em; 
		font-weight: 700;
		color: #A7A7A7;
	}
	p {
		font-size: 1.2em; 
		font-weight: 400;
		letter-spacing: 0.05em;
	}
}
@media (max-width: 64em){ 
	h1 {
		font-size: 4em; 
	}
}
@media  (max-width: 48em){ 
	
	h1 {
		font-size: 3.4em;
	}
}
@media  (max-width: 36em) { 
	.logo {
		display: none;
	}


	h1 {
		font-size: 3.25em;
	}	
} 
@media  (max-width: 30em) { 
	
	h1 {
		font-size: 2em;
	}
	h4 {
		font-size: 0.8em;
	}
}
	/*

	*/

/* Containers */
.row {
	width: 100%;
	display: flex; flex-wrap: wrap;
}
.col-1 {
	width: 8.33%;
}
.col-2 {
	width: 16.66%;
}
.col-3 {
	width: 25%;
}
.col-4 {
	width: 33.33%;
}
.col-5 {
	width: 41.66%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58.33%;
}
.col-8 {
	width: 66.66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}
.title {
	text-align: right;
	text-transform: uppercase;
}
/*IMAGE CUSTOMIZATION*/
img {
	max-width: 100%;
	max-height: 100%;
}
img.logo {
	width: 80%;

}
img.works {
	padding: 1.5%;
	vertical-align: middle;
}
img.principal {
	border-radius: 50%;
}
hr {			/* Taked from http://codepen.io/ibrahimjabbari/pen/ozinB*/
    border: 0; 
	height: 1px; 
	background-image: -webkit-linear-gradient(left, #f0f0f0, #6a6a56, #f0f0f0);
	background-image: -moz-linear-gradient(left, #f0f0f0, #6a6a56, #f0f0f0);
	background-image: -ms-linear-gradient(left, #f0f0f0, #6a6a56, #f0f0f0);
	background-image: -o-linear-gradient(left, #f0f0f0, #6a6a56, #f0f0f0); 
}

